* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 7.2rem;
  font-weight: 800;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 2.4rem;
}

/* *MEDIA QUERIES */
/****************/
/* * 900px */
/****************/
@media (max-width: 50em) {
  html {
    font-size: 56.25%;
  }
}

/****************/
/* * 600px */
/****************/
@media (max-width: 38em) {
  html {
    font-size: 50%;
  }
}

/****************/
/* * 500px */
/****************/
@media (max-width: 32em) {
  html {
    font-size: 43.75%;
  }
}
